[package]
name = "test-with"
version = "0.2.0"
authors = ["Antonio Yang <yanganto@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A lib help you run test with condition"
repository = "https://github.com/yanganto/test-with"

[lib]
proc-macro = true

[dependencies]
proc-macro-error = "1.0.4"
proc-macro2 = "1.0.36"
quote = "1.0.14"
syn = { version = "1.0.85", features = [ "full" ] }
reqwest = { version = "0.11", features = ["blocking"] }
icmp = "0.3.0"
regex = "1"
