[package]
name = "test-with"
version = "0.7.9"
authors = ["Antonio Yang <yanganto@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A lib help you run test with condition"
repository = "https://github.com/yanganto/test-with"
keywords = [ "testing", "condition", "toggle", "integration", "ignore" ]
categories = [ "development-tools", "testing" ]

[lib]
proc-macro = true

[dependencies]
proc-macro-error = "1.0"
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = [ "full" ] }
regex = { version = "1" }

reqwest = { version = "0.11", features = ["blocking"], optional = true }
ping = { version = "0.4", optional = true }
sysinfo = { version = "0.26", optional = true }
byte-unit = { version = "4.0", optional = true }
num_cpus = { version = "1.13", optional = true }

[target.'cfg(not(target_os = "windows"))'.dependencies]
users = { version = "0.11.0", optional = true }

[features]
default = ["net", "resource", "user"]
ign-msg = []
net = ["reqwest", "ping"]
resource = ["sysinfo", "byte-unit", "num_cpus"]
user = ["users"]

[dev-dependencies]
tokio = { version = "1.15.0", features = ["rt", "macros"] }
