[package]
name = "test-with"
version = "0.4.1"
authors = ["Antonio Yang <yanganto@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A lib help you run test with condition"
repository = "https://github.com/yanganto/test-with"
keywords = [ "testing", "environment", "condition", "toggle", "integration" ]
categories = [ "development-tools", "testing" ]

[lib]
proc-macro = true

[dependencies]
proc-macro-error = "1.0.4"
proc-macro2 = "1.0.36"
quote = "1.0.14"
syn = { version = "1.0.85", features = [ "full", "extra-traits" ] }
reqwest = { version = "0.11", features = ["blocking"] }
ping = "0.3.0"
regex = "1"
