[package]
name = "runner"
version = "0.1.0"
edition = "2021"

[dependencies]
test-with = { path = "../../", features = ["runtime"] }
libtest-with = { version = "0.7.0-3", features = ["net", "resource", "user", "executable", "timezone"]}
